<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @subtitle_track_set.title %>
</p>


<%= link_to 'Edit', edit_subtitle_track_set_path(@subtitle_track_set) %> |
<%= link_to 'Back', subtitle_track_sets_path %>
