<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @subtitle_track.title %>
</p>


<%= link_to 'Edit', edit_subtitle_track_path(@subtitle_track) %> |
<%= link_to 'Back', subtitle_tracks_path %>
