/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  font-family: Helvetica Neue, Helvetica, Arial;
  margin: 0;
  padding: 0;
  background: #eee;
  color: #333;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  text-shadow: #555 1px 1px 0px;
  display: inline;
}

h2 {
  margin: 0;
  padding: 0 0 10px 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.menu {
  padding-left: 25px;
}

#header {
  padding-top: 25px;
  padding-bottom: 25px;
  /* border-bottom: 2px solid #aaa; */
}

#container {
  width: 1024px;
  padding-left: 30px;
  margin: 0 auto;
}

#video {
  float: left;
}

#sidebar {
  position: relative;
  float: right;
}

#content {
  position: relative;
}

#subtitle_edit {
  font-size: 14px;
  width: 360px;
  height: 360px;
  overflow-y: scroll;
}

.subtitle-title {
  position: absolute;
  top: -28px;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}

#time_points {
  position: relative;
  padding-top: 8px;
  margin-left: 40px;
  clear: both;
}

.slider {
  position: absolute;
  background: #333;
  height: 10px;
  width: 1px;
  cursor: pointer;
  border-radius: 2px;
}

.time-marker {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 64px;
  width: 1px;
  z-index: 999;
}

.subtitle_edit_box {
  padding: 5px 0 5px 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.subtitle_edit_box:last-child {
  border-bottom: 0;
}

.slider-box {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.time-points {
  position: relative;
  width: 100%;
  height: 14px;
  margin-bottom: 2px;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 0px 0px 1px black;
}

.time-points-1 {
  background: white;
}
.time-points-2 {
  background: #ffff80;
}
.time-points-3 {
  background: #bcddeb;
}
.time-points-4 {
  background: #ff8080;
}

.controls {
  font-size: 12px;
  position: absolute;
  right: -60px;
  cursor: pointer;
}

.label {
  position: absolute;
  left: -10px;
}

.startTime:hover,
.endTime:hover,
.subtitleText:hover {
  background: #ccc;
  cursor: edit;
}

.startTime,
.endTime {
  font-size: 12px;
  color: #777;
}

.voice {
  float: left;
  padding: 5px 5px 5px;
  font-size: 16px;
  font-weight: bold;
}

.subtitle_data {
  padding-left: 25px;
}

.subtitleText {
  padding-right: 5px;
}

.delete {
  float: right;
  padding-right: 5px;
}

.delete a {
  color: #333;
  text-decoration: none;
}

.delete a:hover {
  color: #777;
}

.selected {
  background: #fef087;
}

#help {
  position: absolute;
  left: 660px;
  top: 370px;
  font-size: 12px;
  background: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 10px #333;
}

#help_close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#splash-container {
  width: 720px;
  margin: 0 auto;
}

.splash-content {
  text-align: center;
}

.logo-large {
  margin: 60px 0 60px 0;
}

#scrollbar {
  float: left;
}

#scroll-controls {
  padding-top: 3px;
  position: absolute;
  right: -30px;
  cursor: pointer;
}
